
@mixin button-default($back-color, $txt-color) {
  border-radius: 18px;
  text-align: center;
  transition: all 200ms;
  // font-size: 1rem;
  font-weight: 700;
  background-color: $back-color;
  color: $txt-color;

  // &:hover:not(:disabled) {
  //   scale: 105%;
  //   @if($hover-color) {
  //     background-color: $hover-color;
  //   }
  //   @if($hover-color-txt) {
  //     color: $hover-color-txt;
  //   }
  // }

  &:active:not(:disabled) {
    scale: 95%;
  }

  // &:disabled {
  //   background-color: $dis;
  // }
}

.btn-pur {
  @include button-default(#7A32C2, #fff);
}

.btn-red {
  @include button-default(#C2324F, #fff);
  // background-color: $snd;
}

.btn-green {
  @include button-default(#2cad36, #fff);
  // background-color: transparent;
  // border: 2px solid #fff;
  // color: #fff;
}

button {
  transition: 200ms cubic-bezier(0.57, 0.39, 0.47, 1.71);
  &:active:not(:disabled) {
    scale: 85%;
  }
}
