@use 'styles/main';
@import 'styles/abstracts/variables';

html, body {
  background-color: #161517;
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  padding-top: 3.8rem;
}
